.bg-light {
  background-color: #f8fafd;
}

.card {
  border: 1px solid #e7eaf3;
  border-radius: 0.5rem;
}

.card-header {
  padding: 1rem;
}

.card-body {
  padding: 2rem;
}

.card-footer {
  padding: 1rem;
  text-align: right;
}

.form-control.is-invalid, .form-select.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 0.875rem;
}
