
  <div class="d-md-flex min-vh-md-100 mx-0  position-relative" style=" width: 99vw; ">
    <video [muted]="'muted'" start="5" loop style="object-fit: cover; width: 100%; height: 100vh"
           poster="/Untitled%20design1.mp4"
    >
      <source
        src="/Untitled%20design1.mp4"
        type="video/mp4">
      <!-- Add additional source elements for different video formats if needed -->
      Your browser does not support the video tag.
    </video>


    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
      <div class="container d-flex flex-column justify-content-center min-vh-100 py-3">
        <div class="text-center">
          <!-- Heading -->
          <h1 class="display-4 text-white mb-5">
            <span class="d-block " i18n>Find your perfect pitch</span>
            <span class="text-white text-highlight-warning">
            <span style="font-family: 'Franklin Gothic Demi'" class="js-typedjs"></span>
          </span>
          </h1>

          <!-- Input Card -->
          <div class="col-11 col-md-9 col-lg-7 mx-auto">
            <div class="card card-sm overflow-hidden">
              <div class="card-body">
                <figure class="w-25 d-none d-md-block position-absolute top-0 start-0 mt-n2">
                  <svg viewBox="0 0 451 902" xmlns="http://www.w3.org/2000/svg">
                    <path
                      opacity="0.125"
                      d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820"
                      stroke="url(#paint2_linear)"
                      stroke-width="200"
                      stroke-miterlimit="10"
                    />
                    <defs>
                      <linearGradient id="paint2_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#0A4C2E" stop-opacity="0" />
                        <stop offset="1" stop-color="#0A4C2E" />
                      </linearGradient>
                    </defs>
                  </svg>
                </figure>
                <div class="row align-items-center">

                  <div class="col-md-8 mb-3 mb-md-0">
                    <h4 class=" card-title " i18n>Pick a time and reserve your pitch</h4>
                  </div>
                  <div class="col-md-4 text-md-end">
                    <a routerLink="/booking" class="btn btn-primary btn-transition" i18n>Book a Field</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- SVG Shape -->

        </div>
      </div>
    </div>
  </div>


<!--<div class="hero-container">
  <video
    class="hero-video"
    autoplay
    loop
    muted
    playsinline
    poster="https://firebasestorage.googleapis.com/v0/b/tibet-realty.appspot.com/o/home%2Fthumbnail.jpg?alt=media&token=74fbfc3d-4d13-48c5-9324-b3b05bb4cab0"
  >
    <source
      src="https://firebasestorage.googleapis.com/v0/b/tibet-realty.appspot.com/o/home%2Fvideo1tibetrealty.mp4?alt=media&token=12816bb3-0f52-466e-96c3-125498769a3f"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <div class="hero-content">
    <div class="d-md-flex justify-content-md-center flex-md-column min-vh-md-100 text-center">
      <div class="zi-2 mt-md-n5 d-flex flex-column align-items-center justify-content-center">
        <div class="mb-7">
          <h1 class="display-4 text-white">
            <span class="d-block" i18n>Discover a place you'll</span>
            <span class="text-white text-highlight-warning">
              <span appTypedJs></span>
            </span>
          </h1>
        </div>
        <div class="mx-auto col-7">
          <div class="input-card p-0">
            <div class="input-card-form">
              <label for="searchLocationFormx" class="form-label visually-hidden" i18n>Search location</label>
              <div class="input-group input-group-merge">
                <span class="input-group-prepend input-group-text">
                  <i class="bi-search"></i>
                </span>
                <input
                  class="form-control form-control-lg"
                  id="searchLocationFormx"
                  type="text"
                  [(ngModel)]="searchQuery"
                  (keydown.enter)="search(searchQuery)"
                  [placeholder]="searchPlaceHolder"
                  aria-label="Enter location"
                />
              </div>
            </div>
            <button type="button" class="btn btn-primary m-1" (click)="search(searchQuery)" i18n>Search</button>
          </div>
        </div>
        <div class="mx-auto col-7">
          <p class="form-text small text-white" i18n="@@searchDescription">
            Search through over hundreds of listings, Search Cyprus locations, e.g Nicosia, building type e.g villa, flat or features like AC, Outdoor pool etc
          </p>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--
<div class="d-md-flex min-vh-md-100  position-relative" style=" width: 99vw; ">
  <div class="container" id="container-Parallax">
    <div
      class=" position-relative content-space-t-3 content-space-t-md-0 content-space-t-lg-3 content-space-b-2 content-space-b-md-3 content-space-b-xl-5">
      <div class="row position-relative zi-2 mt-md-n5">
        <div class=" col-md-8 mb-7 mb-md-0">
          &lt;!&ndash; Heading &ndash;&gt;
          <div class="w-md-75 mb-7">
            &lt;!&ndash;   <img src="/assets/tibet-realty/logo-no-text.svg"/>&ndash;&gt;
            <h1 class=" display-4"><span class="d-block" i18n>Discover a place you'll </span>
              <span class="text-primary text-highlight-warning">
                    <span class="js-typedjs"></span>
                  </span>
            </h1>
          </div>
          &lt;!&ndash; End Heading &ndash;&gt;

          <div >
            &lt;!&ndash; Input Card &ndash;&gt;

            <div class="input-card ">
              <div class="input-card-form">
                <label for="searchLocationForm" class="form-label visually-hidden" i18n>Search location</label>
                <div class="input-group input-group-merge">
                      <span class="input-group-prepend input-group-text">
                        <i class="bi-search"></i>
                      </span>
                  <input class="form-control form-control-lg" id="searchLocationForm"
                         type="text" [(ngModel)]="searchQuery" (keydown.enter)="search(searchQuery)"
                         [placeholder]="searchPlaceHolder" aria-label="Enter location">
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-lg" (click)="search(searchQuery)" i18n>Search</button>
            </div>
            &lt;!&ndash; End Input Card &ndash;&gt;
          </div>
          <tbr-home-filters></tbr-home-filters>
          <p class="form-text w-65 small" i18n>Search through over hundreds of listings, Search Cyprus locations, e.g
            Nicosia, building type e.g villa, flat or features like AC, Outdoor pool etc</p>
        </div>
        &lt;!&ndash; End Col &ndash;&gt;
      </div>
      &lt;!&ndash; End Row &ndash;&gt;

      <div class=" col-md-6 position-md-absolute top-0 end-0">
        <img class="img-fluid slide-search" src="/assets/img/900x900/img20.jpg" alt="Image Description">

        &lt;!&ndash; SVG Shape &ndash;&gt;
        <div class="slide position-absolute bottom-0 end-0 zi-n1 mb-n10 me-n7" style="width: 12rem;">
          <img class="img-fluid img-fluid-Search" src="/assets/svg/components/dots-lg.svg" alt="Image Description">
        </div>
        &lt;!&ndash; End SVG Shape &ndash;&gt;
      </div>
    </div>
  </div>

  <div class="col-md-10 position-absolute top-0 start-0 zi-n1 gradient-y-three-sm-primary h-100"
       style="background-size: calc(1000px + (100vw - 1000px) / 2);"></div>
</div>-->
