<div id="container-Parallax-hero" class="container position-relative content-space-2 content-space-t-lg-4">
  <!-- Heading -->
  <div class="container text-center mb-5 mb-md-9">
    <!-- Title & Description -->
    <div class="w-100 w-md-85 text-center mx-md-auto mb-5 mb-md-9">
      <h1 class="display-4 mb-3">Explore Our Fields</h1>
      <p class="lead">Discover our state-of-the-art fields, ideal for every game. Browse through our gallery to see the different layouts and facilities we offer for an unbeatable experience.</p>
    </div>
  <!-- End Title & Description -->



  <!-- SVG Shape -->
  <figure class="position-absolute zi-n1 slide-circle " style="top: -35rem; left: 50rem; width: 62rem; height: 62rem;">
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
      <circle fill="#A67A3B" opacity=".4" cx="130" cy="130" r="130"/>
    </svg>
  </figure>
  <!-- End SVG Shape -->

  <!-- SVG Shape -->
  <figure class="position-absolute zi-n1 slide-circular-dash " style="top: 15rem; left: 70rem; width: 20rem; height: 20rem;">
    <img class="img-fluid" src="/assets/svg/components/circled-stripe.svg" alt="Image Description">
  </figure>
  <!-- End SVG Shape -->

  <!-- SVG Shape -->
  <figure class="position-absolute zi-n1 slide-dots d-none d-md-block" style="bottom: 11rem; left: -3rem; width: 15rem; height: 15rem;">
    <img class="img-fluid" src="../assets/svg/components/dots.svg" alt="Image Description">
  </figure>
  <!-- End SVG Shape -->
</div>

</div>
